@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@font-face {
	font-family: "Conv_helveticaneuecyr-light";
	src: url("../fonts/helveticaneuecyr-light.eot");
	src: local("☺"), url("../fonts/helveticaneuecyr-light.woff") format("woff"),
		url("../fonts/helveticaneuecyr-light.ttf") format("truetype"),
		url("fonts/helveticaneuecyr-light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	min-width: 500px;
	font-family: "Roboto";
}


.our-service {
	padding: 105px 150px 113px 210px;
	background: url(../img/hw1/Blob.png) 98.01% 300.93%  no-repeat;
}
.our-service__content{
	max-width: 1020px;
}
.our-service__title {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	background: url(../img/hw1/OverlineMark.svg) 0 0 no-repeat;
	padding: 2px 0px 0px 33px ;
}
.our-service__subtitle {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin: 33.25px 0px 78.61px 0px;
}
.our-service__item {
	display: inline-block;
	max-width: 1020px;
}
.our-service__item1 {
	padding: 50px 44px 50px 43px;
	max-width: 300px;
	border-radius: 20px;
	text-align: center;
	display: inline-block;
	background-color: white;
}
.our-service__item1:hover{
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.our-service__item1:not(:last-child){
	margin: 0px 24px 24.12px 0px;
}
.our-service__image{
	display: block;
	width: 63px;
	height: 63px;
	margin:0px 86px 33.17px 88px;
	
}
.our-service__title1 {
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #F2726F;
	display: inline-block;
	margin-bottom: 20.23px;
}
.our-service__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
	display: inline-block;
}
.our-service__button{
	min-width: 124px;
	text-align: center;
	background: #F2726F;
	border-radius: 8px;
	padding: 9px 24px;
	margin: 66.63px 459px 0 415px;
	display: inline-block;
}
.link{
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	color: #FFFFFF;
}


.ourpromise{
	font-family: "Roboto";
	font-size: 0;
	padding: 86.53px 180px 122px 210px;
	min-width: 1020px;
}
.ourpromise__title1 {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	background: url(../img/hw1/OverlineMark.svg) 0 0 no-repeat;
	padding: 2px 0px 0px 33px ;
}
.ourpromise__subtitle {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin: 33px 0px 68px 0px;
}
.ourpromise__item{
	display: inline-block;
	width: 33.333%;
	vertical-align: top;
	padding: 0px 30px 0px 86px;
}
.ourpromise__title {
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #F2726F;
}
.ourpromise__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
.ourpromise__item1{
	background: url(../img/hw2/doglove.png) 0 0 no-repeat;
}
.ourpromise__item2 {
	background: url(../img/hw2/dogvet.png) 0 0 no-repeat;
}
.ourpromise__item3 {
	background: url(../img/hw2/dogstream.png) 0 0 no-repeat;
}

.dogimage{
	margin: 0px 180px -215px 732px;
}
.our-impact {
	font-size: 0;
	background: rgba(41, 195, 190, 1) url(../img/hw3/Blob.png) 98.97% 0 no-repeat;
	padding: 111px 0px 134px 210px;
}
.our-impact__title {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 2;
	display: flex;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: url(../img/hw3/OverlineMark.svg) 0 0 no-repeat;
	padding: 2px 0px 0px 35px;
}
.our-impact__subtitle {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #FFFFFF;
	margin: 31.77px 0px 75.87px 0px;
	max-width: 411px;
}
.our-impact__item {
	display: inline-block;
}
.our-impact__image{
	width: 76px;
	height: 76px;
	margin-right: 12px;
}
.our-impact__item1 {
	display: inline-flex;
	max-width: 237px;
	margin: 0 24px 0 0;
}
.our-impact__container{
	display: inline-block;
	max-width: 150px;
	padding-top: 15px;
}
.our-impact__numb {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17px;
	color: #FFFFFF;
	display: inline-block;
	margin: 0px 0px 25px 0px;
}
.our-impact__text {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5D62B5;
	display: inline-block;
}
